<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Vue Game</title>
	</head>

	<body>
		<header>
			<h2>monster vs player</h2>
		</header>

		<section id="game">
			<div class="container">
				<p>monster's health = {{monster}}</p>
				<div class="container2">
					<div class="live" :style="[damage,damage2]"></div>
				</div>
			</div>
			<div class="container">
				<p>player's health = {{user}}</p>
				<div class="container2">
					<div class="live" :style="[damage3,damage4]"></div>
				</div>
			</div>

			<div class="container" v-if="winner">
				<h2>Game Over!</h2>
				<h3 v-if="winner==='user'">You Won</h3>
				<h3 v-else-if="winner==='monster'">You Lost</h3>
				<h3 v-else>It is a draw</h3>
				<button @click="restart">Restart</button>
			</div>

			<div class="actions" v-else>
				<button @click="attackMonster">Attack</button>
				<button @click="healPlayer">Heal</button>
				<button @click="SpecialAttackMonster" :disabled="special">
					special attack
				</button>
				<button @click="surrender">surrender</button>
			</div>

			<div class="log">
				<h2>Battle log</h2>
				<ul v-for="log in battleLog" :key="log">
					<li>{{log.actionby}} - {{log.actiontype}} - {{log.actionvalue}}</li>
				</ul>
			</div>
		</section>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="app.js" />
	</body>
</html>
